<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mert.malkinfo.profilo">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/profi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/profi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Profilo"
        tools:targetApi="31">
        <activity
            android:name=".Menuler.UrunlerActivity"
            android:exported="false" />
        <activity
            android:name=".mainler.newUyeOlActivity"
            android:exported="false" />
        <activity
            android:name=".ayarlar.IletisimActivity"
            android:exported="false" />
        <activity
            android:name=".ayarlar.HakkimizdaActivity"
            android:exported="false" />
        <activity
            android:name=".ayarlar.SikayetActivity"
            android:exported="true" />
        <activity
            android:name=".ayarlar.BilgilerDegisActivity"
            android:exported="false" />
        <activity
            android:name=".Menuler.AyarlarActivity"
            android:exported="false" />

        <activity
            android:name=".faturalar.UserlistActivity"
            android:exported="false" />
        <activity
            android:name=".Menuler.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".mainler.GirisActivity"
            android:exported="false" />
        <activity
            android:name=".mainler.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>